.header {
  color: white;
  background-color: #39B65D !important;
  text-align: center;
}


a {
  color:white;
}

button{
  background-color: #39B65D!important;
}

/* CSS Added by Dru for API response formatting */

.recipe-title-text {
  text-align: right;
  font-weight: bold;
  font-size: 18px;
}
.recipe-image {
  float: left;
}

/* Summary text */
.summary-text {
  font-size: 14px;
  margin-top: 25px;
}

/* Hides the ingredients and instructions labels -- .js unhides them after API load */
.hidden-label {
  visibility: hidden;
  font-weight:bold;
}

/* Positions the "What are these?" link */
.help-text {
  font-size: 14px;
  font-style: italic;
  margin: 2px 0px 10px 4px;
}

/* Allows the help text to be closer to the drop-down box */
.select-box {
  margin-bottom: 0px;  
}

/* END code for API portion */




.background {
  background-image: url(https://stophavingaboringlife.com/wp-content/uploads/2019/03/how-to-acquire-a-sophisticated-palate.jpeg);
  background-size: cover;
}

#hungry {
  font-family: 'Pacifico', cursive !important;
  font-size: 70px;
}

#soarewe {
  font-family: 'oswald';
}

#submit {
  width: 100%;
}

#welcome-page {
  color: white;
  text-align: center;
  height: 200px;
}

#recipe-page {
  background-color: rgba(54, 54, 54, 0.8);
}

#save {
  position: relative; 
  bottom: 0px;
}

/* Holy Grail Layout Code from Foundation */
.holy-grail-grid {
    display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 20px;
    height: 100vh;
  }
  
  @media screen and (max-width: 60em) {
    .holy-grail-grid {
          grid-template-rows: 2fr 1fr 5fr 1fr;
    }
  }
  
  .holy-grail-header {
        grid-column-start: 1;
    grid-column-end: 4;
        grid-row-start: 1;
  }

  /* Transculent form overlay code from Foundation */
.translucent-form-overlay {
  max-width: 800px;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3, .translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input, .translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}



